// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #12416c;
  --ion-color-primary-rgb: 18,65,108;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #10395f;
  --ion-color-primary-tint: #2a547b;

  --ion-color-secondary: #cc3333;
  --ion-color-secondary-rgb: 204,51,51;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #b42d2d;
  --ion-color-secondary-tint: #d14747;

  --ion-color-tertiary: #f5e087;
  --ion-color-tertiary-rgb: 245,224,135;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d8c577;
  --ion-color-tertiary-tint: #f6e393;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  /* Settings Gradijent */
--cs-text-light: #fff;

--cs-gradient-primary: rgba(18,65,108, 1);
--cs-gradient-secondary: rgba(245,61,61, 1);

--cs-gradient: linear-gradient(to bottom, var(--cs-gradient-primary) 0%, var(--cs-gradient-secondary) 100%);


/* Settings Gradijent Images*/
--cs-gradient-images-primary: rgba(18,65,108, 0);
--cs-gradient-images-secondary: rgba(18,65,108, 1);

--cs-gradient-image: linear-gradient(to bottom, var(--cs-gradient-images-primary) 0%, var(--cs-gradient-images-secondary) 100%);

}

ion-toolbar {
  --background: var(--cs-gradient);
  --color: var(--cs-text-light, #fff);
  --border-color: transparent;

  [slot=start] {
    margin-inline-end: 0;
  }

  .ios {
    ion-back-button,
    ion-menu-button {
      --color: var(--cs-text-light, #fff);
    }
  }

  ion-title {
    font-weight: 500 !important;
    font-size: var(--h3-font-size, 17px) !important;
  }
}