ion-content {
    --background: var(--cs-gradient);
    --color: var(--cs-text-light, #fff);
    --border-color: transparent;
}

ion-item {
    --background-hover: transparent;
    --background-activated: transparent;
    --background: transparent;
    --background-focused: transparent;
    --ripple-color: transparent;
    --color: #fff;
  
    [slot=start] {
      margin-inline-end: 0 !important;
    }
  }

  ion-label {
    --background-hover: transparent;
    --background-activated: transparent;
    --background: transparent;
    --background-focused: transparent;
    --ripple-color: transparent;
  }

  ion-list {
    --background-hover: transparent;
    --background-activated: transparent;
    --background: transparent;
    --background-focused: transparent;
    --ripple-color: transparent;
  }

  ion-icon{
    color: #fff;
    padding-right: 6px;
  }

  .list-md, .list-ios{
    background: transparent;
    color: #fff;
  }