.ios .bluza {
    background-image: url("https://raw.githubusercontent.com/ingalb/appv2/master/www/img/bluza.png");
    background-position: center center;
    background-repeat: no-repeat;
    color: #f5e087;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width:36px;
    height: 36px;
    padding-top: 10px;
}

.md .bluza {
    background-image: url("https://raw.githubusercontent.com/ingalb/appv2/master/www/img/bluza.png");
    background-position: center center;
    background-repeat: no-repeat;
    color: #f5e087;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width:36px;
    height: 36px;
    padding-top: 10px;
    padding-right: 14px;
    margin-top: 10px;
}