<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="tertiary">
      Vllazia App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
  <ion-slide *ngFor="let b of news">
      <ion-card color="secondary" class="welcome-card" [routerLink]="['/news/', b.id]">
        <img src="https://www.fkvllaznia.net/main/vllaznia/_files/newspublish/{{ b.image }}" alt="" />
        <ion-card-header>
          <ion-card-title>{{ b.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ b.summary }}</p>
        </ion-card-content>
      </ion-card>
  </ion-slide>

  </ion-slides>

  <ion-item color="primary">
    <ion-label>
    Ndeshjet e fundit
    </ion-label>
  </ion-item>

    
</ion-content>
